<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601909712401-7ugat048i5vd833rup4et6bv7s6mokjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601909712401-7ugat048i5vd833rup4et6bv7s6mokjg</string>
	<key>API_KEY</key>
	<string>AIzaSyBAGsGB8pKw0SA2pDxCAhmdtj6zUZ4gj3M</string>
	<key>GCM_SENDER_ID</key>
	<string>601909712401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-1a45e</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-1a45e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601909712401:ios:b50dc0dc569dcdc6fc83b0</string>
</dict>
</plist>